<!DOCTYPE hmtl>
<html>
    <head>
        <meta/>
        <script src="http://code.jquery.com/jquery-1.12.1.js"></script>
        <script src="/lib/react.js"></script>
        <script src="/lib/react-dom.js"></script>
        
    </head>
    <body>
        <div id="mount"></div>
        {{{body}}}
    </body>
</html>