<div id="pollNumber" style="visibility: hidden">{{number}}</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
<script type="text/javascript" src="/build/pollresult.js"></script>