.polls {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.poll {
    padding: 5px;
    color: white;
    background-color: grey;
    border-radius: 5px;
    margin-bottom: 5px;
}

.pollsHeader {
    font-size: 1.75em;
    text-align: center;
}

.poll a:link, .poll a:visited, .poll a:active {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 300px){
    .polls {
        min-width: 300px;
        width: auto;
    }
}