* {
    font-family: 'Josefin Sans', sans-serif;
    color: #594F4F; 
}

body {
    max-width: 100%;
    background-color: #E5FCC2;
}

a:link:active, a:visited {
    text-decoration: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    background-color: #9DE0AD;
    color: #594F4F;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header a{
    color: #594F4F
}

.home{
    height: 100%;
    width: auto;
    float: left;
    line-height: 50px;
    padding-left: 15px;
    font-size: 2em;
}

.nav {
    display: none;
    position: fixed;
    top: 50px;
    right: 0px;
    float: right;
    line-height: 50px;
    cursor: pointer;
    background-color: #9DE0AD;
    border: 1px solid #594F4F;
}

.nav a:link, .nav a:visited {
    text-decoration: none;
}

.nav div {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.navButton {
    height: 100%;
    text-decoration: none;
}

.menu {
    position: relative;
    float: right;
    line-height: 50px;
    cursor: pointer;
    padding-right: 7px;
    padding-left: 7px;
}

#logoutBox {
    position: absolute;
    bottom: -75px;
    right: 0;
    padding: 15px;
}

#logoutButton {
    background-color: #DD4B39;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.createForm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 15px;
    background: #9DE0AD;
    border-radius: 5px;
}

.createHeader {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.createLabel {
    min-width: 30%;
    display: inline-block;
}

.createInput {
    width: 60%;
    display: inline-block;
}

.pollOption {
    margin-top: 5px;
}

.changeOptions {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.changeBtnContainer {
    width: 50%;
    display: inline-block;
}

#addOpt {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    background-color: dodgerblue;
}

#removeOpt {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #DD4B39;
    display: inline-block;
}

.submitButton {
    margin-top: 5px;
    margin-left:auto;
    margin-right: auto;
    font-size:1.01em;
    padding: 5px;
}

.polls {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #594F4F
}

.poll {
    padding: 5px;
    color: white;
    background-color: grey;
    border-radius: 5px;
    margin-bottom: 5px;
}

.pollsHeader {
    font-size: 1.75em;
    text-align: center;
}

.polls a:link, .polls a:visited, .polls a:active {
    color: white;
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
}

.login-box {
    width: 300px;
    background-color: #9DE0AD;
    color: #594F4F;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
}

.loginSignupHeader {
    font-size: 1.57em;
    margin-bottom: 5px;
}

form {
    margin-left: 15px;
    margin-right: auto;
}

.txtInput {
    width: 95%;
}

.submit-btn {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
}

.loginButton {
    width: 30%;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.login-box a {
    text-decoration: none;
}

.loginSignup {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.loginSignup a {
    color: #FF9F80;
    text-shadow: 0px 0px 1px #594F4F;
}

#twitterLogin {
    background-color: #4099FF;
    color: white;
}

#fbLogin {
    background-color: #3b5998;
}

#googleLogin {
    background-color: #DD4B39;
}

.pollResult {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #594F4F;
}

.pollResult h3 {
    text-align: center;
}


@media only screen and (min-width: 300px){
    .createForm {
        width: 300px;
    }
    
    .polls {
        width: 300px;
    }
}

@media only screen and (min-width: 600px){
    .nav {
        background-color: none;
        border: none;
        display: inline-block;
        position:relative;
        top: auto;
        right: auto;
    }
    
    .nav div {
        display: inline-block;
    }
    
    .menu {
        display: none;
    }
}

@media only screen and (min-width: 900px){
    .container {
        width: 900px
    }
}